/build
*.iml
.gradle
/local.properties
/.idea
.DS_Store
*/values-sw*
/src/androidTest/java/com/naruto/recorder/
/src/test/java/com/naruto/recorder/
/src/main/res/values-sw240dp/
/src/main/res/values-sw320dp/
/src/main/res/values-sw360dp/
/src/main/res/values-sw384dp/
/src/main/res/values-sw392dp/
/src/main/res/values-sw400dp/
/src/main/res/values-sw410dp/
/src/main/res/values-sw411dp/
/src/main/res/values-sw432dp/
/src/main/res/values-sw480dp/
